td,th {
	font-family: monospace;
	padding: 20px;
	background-color: #ccc;
}

label {
	vertical-align: top;
}

h2{
color: red;
font-size: 40px;
border-width: thick;
}

#main {
	border: 1px dotted blue;
	padding: 6px;
	background-color: #ccc;
	margin-right: 50%;
}

#items_table {
	border: 1px dotted blue;
	padding: 6px;
	margin-top: 12px;
	margin-right: 50%;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}
